{% extends 'base.html' %}

{% block headerLink %}
    <a href="{% url 'make_choice' choice='start' %}">
        Return to start
    </a>
{% endblock %}

{% load static %}

{% block content %}
    <h1>Exploring the Dimension</h1>
    <p>You start exploring the dimension but soon you feel something is wrong: it seems the dimension is collapsing ! You run back to the portal but it's too late. You feel your body disappearing.</p>
    <img src="{% static 'img/collapse.png' %}" alt="Collapsing World"
        style="height: 400px; width: 600px; border-radius: 5px; box-shadow: 10px;">
    <p>You Lose.</p>
{% endblock %}