{% extends 'base.html' %}

{% block headerLink %}
    <a href="{% url 'make_choice' choice='start' %}">
        Return to start
    </a>
{% endblock %}

{% load static %}

{% block content %}
    <h1>Secret Room</h1>
    
    <p>
    You trip on the carpet and uncover a secret trapdoor. As you step into the secret room, you see rows of monitors line 
    the walls, displaying surveillance footage.

    And there, seated at the main console, is a dog. The dog doesn't seem to have noticed you, it's pulling levers and 
    pushing buttons with it's paws. It seems like it has been controlling everything all along
    </p>
    <img src="{% static 'img/secret.jpg' %}" alt="Dog at Controls"
        style="height: 400px; width: 600px; border-radius: 5px; box-shadow: 10px;">
    
{% endblock %}