{% extends 'base.html' %}

{% block headerLink %}
    <a href="{% url 'make_choice' choice='start' %}">
        Return to start
    </a>
{% endblock %}

{% load static %}

{% block content %}
    <h1>Stabilizing the Experiment</h1>
    <p>You succeed in stabilizing the experiment, the swirling portal in the room becomes yellow. You step through it and are transported to an alien world.</p>
    <img src="{% static 'img/yellow-portal.jpg' %}" alt="Yellow Portal"
        style="height: 400px; width: 600px; border-radius: 5px; box-shadow: 10px;">
    <p>You Win ?</p>
{% endblock %}